#root {
  width: 100vw;
  font-family: Arial, Helvetica,sans-serif;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  color: rgb(43, 40, 40);
}

.login-page {
  display: flex;
  flex-direction: column;
  .widget{
    height: 1000px;
  }
}

.login-form {
  place-items: center;
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 0.5rem auto;
  padding: 0.3rem;
  width: 25%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.account-button {
  margin: 0 auto;
  width: 13rem;
}

.nav-box {
  background-color:#ff724c;
  position: fixed;
  text-align: center;
  width: 100vw;
  top: 0;
  align-items: center;
  left: 0;
}

.nav-bar {
  z-index: 9999;
  display: flex;
  background-color: #ff724c;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0 auto;
  text-decoration: none;
  text-size-adjust: 1.2rem;
  max-width: 1500px;
  width: 65vw;
  height: 50px;
  justify-content: space-between;
  font-size: 17px;
  font-family: Univers, sans-serif;
}

.title-box {
  height: 40px;
  text-align: center;
}

.title {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

.nav-menu-1,
.nav-menu-2 {
  height: 40px;
  text-align: center;
  background-color: #ff724c;
  flex: 1;
  display: flex;
}

.nav-menu-1 {
  padding-left: 10px;
  padding-top: 2px;
  margin: 0 10px;
  justify-content: left;
}

.nav-menu-2 {
  padding-top: 2px;
  cursor: pointer;
  justify-content: right;
}

.about-us-item,
.insights-item,
.foundation-item,
.login-item-1,
.sign-up-item-1 {
  margin: 0 20px;
  color: white;
  cursor: pointer;
  list-style-type: none;
  width: fit-content;
}

.about-us-item{
  width: 70px;
}

ul.about-box-content{
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  width: 120px;
  a {
    color: black;
  }
}

.vert-line{
  width: 2px;
  height: 125px;
  background-color: #000;
}

.login-item,
.sign-up-item{
  margin: 0 10px;
  color: white;
  /* border: solid 2px; */
  transition: 0.3s;
  padding: 5px;
}

.home-title{
  font-size: 50px;
}

.dropbox {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 0px;
  background-color: peachpuff;
  color: #000;
  list-style-type: none;
  overflow: hidden;
  visibility: hidden;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}


.nav-menu-1.show-dropdown {
  display: block;
  flex-direction: column;
  background-color: rgb(218, 177, 138);;
  height: fit-content;
  width: 100%;
  justify-items: center;
  position: absolute;
  right: 0;
  top: 40px;
  padding-bottom: 7px;
  z-index: 1;
}

.about-us-item:hover,
.insights-item:hover,
.foundation-item:hover,
.login-item-1:hover,
.sign-up-item-1:hover {
  border-bottom: solid;
  border-bottom-color: lightgray;
  transition: 0.2s;
}

.about-us-item:hover .dropbox.show-dropdown,
.insights-item:hover .dropbox.show-dropdown {
  visibility: hidden;
  border-bottom-color: lightgray;
}

.about-us-item:hover .dropbox,
.insights-item:hover .dropbox {
  visibility: visible;
  height: fit-content;
  transition-delay: 0.5s;
}

.about-us-item:hover .dropbox:hover,
.insights-item:hover .dropbox:hover {
  visibility: visible;
  height: fit-content;
  transition-delay: 0.5s;
}


.login-item:hover,
.sign-up-item:hover {
  background-color: rgb(37, 35, 35);
  transition: 0.3s;
}

.staff-login{
  margin-top: -17px;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar .title,
.nav-bar .foundation-nav-bar {
  color: white;
  margin-right: auto;
}

.home-page,
.about-us-page,
.insights-page {
  background-color: rgb(37, 35, 35);
  display: grid;
  box-sizing: border-box;
}

.bar-home{
  height: 50px;
}
.event-heading{
  margin-left: 40px;
  margin-bottom: 0px;
}

.event-page{
  background-color: rgb(233, 213, 222);
  color:black;
  padding-bottom: 10px;
  justify-items: center;
}
.event-content{
  width: 65vw;
  justify-items: center;
  padding: 10px;
  border: solid;
  height: fit-content;
}
.item-card{
  border: solid;
  width: 22vw;
  background-color: white;
  padding: 5px;
  box-shadow:rgba(0, 0, 0, 0.1);
  h1{
    font-size: 35px;
  }
  p{
    color: #000;
  }
}

.add-calender {
  margin-top: 10px;
}

.add-delete-buttons{
  display: grid;
  justify-items: center;
  justify-self: center;
  width: fit-content;
}
.delete-button{
    margin-top: 10px;
    background-color: red;
    border: solid 2px black;
  }
  .sign-up-event-button{
    background-color: green;
    border: solid 2px black;
  }
.calender-buttons{
  display: grid;
  justify-items: center;
  justify-self: center;
  width: 20vw;
  button{
    margin-top: 10px;
  }
}

.widget {
  background-color: rgb(233, 213, 222);
  color: #000;
  text-align: center;
  justify-content: center;
  min-height: 500px;
  padding: 1px;
}
.widget-account {
  background-color: rgb(233, 213, 222);
  color: #000;
  text-align: center;
  justify-content: center;
  min-height: 200px;
  padding: 1px;
}
.widg-1{
  margin: 20px;
  min-height: inherit;
  width: inherit;
  display: grid;

}

.home-items-1{
  display: grid;
  grid-template-columns: 45% 45%;
}

.home-text-1{
  text-align: left;
  /* border: solid; */
  margin-left: 50px;
}

.widget-2{
  min-height: inherit;
  padding: 10px;
  width: 100vw;
  min-height: 500px;
  display: grid;
  background-color: rgb(93, 87, 87);
}
.img-widg-1{
  padding: 20px;
  margin-left: 20px;
  height: fit-content;
  width: fit-content;
  background-color: aliceblue;
  img{
    height: 75%;
    width: 40vw;
  }
}

.event-list{
  display: grid;
  width: 90%;
  justify-self: center;
  grid-template-columns: 25% 25% 25% 25%;
  .item-card{
    width: 75%;
    margin-top: 10px;
    height: 200px;
  }
}

.footer {
  background-color: #ff724c;
  display: grid;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
}

.footer-content {
  margin-top: 20px;
  height: 200px;
  padding: 10px auto;
  border-bottom: solid;
  border-width: 0.001rem;
  border-bottom-color: white;
  display: inherit;
  justify-content: space-between;
  max-width: 1500px;
  width: 65vw;
  grid-template-columns: 25% 25% 25% 25%;
}

.logo-footer,
.services-footer,
.sources-footer,
.connect-footer{
  width: 16.75vw;
}

.footer-section-heading {
  margin: 0;
}

.copyrights {
  margin: 30px 0;
  height: 30px;
  width: 65vw;
  max-width: 1500px;
}

@media screen and (max-width: 1200px) {
  .nav-bar{
    font-size: 0.9rem;
    width: 65vw;
  }
  .about-us-item{
    width: 60px;
  }
  .login-item,
  .sign-up-item{
    width: 50px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-box {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
  }
  .nav-bar {
    width: 75vw;
    top: 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu-1, 
  .nav-menu-2 {
    display: none;
  }

  .nav-menu-1.show-dropdown {
    display: block;
  }

  .home-page {
    width: 100vw;
    top: 50;
  }

  .event-list{
    justify-items: center;
    .item-card{
      width: fit-content;
      height: 200px;
    }
  }

  .nav-menu-1,
  .nav-menu-2 {
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }

  .dropbox {
    top: 100%;
  }

  .footer-content {
    font-size: smaller;
    width: 75vw;
  }
  
  .item-card{
    height: 70%;
  }
}
